#chat-screen {
  background-color: #abc1d1;
  height: 11000vh;
}

#chat-screen .alt-header,
#chat-screen .status-bar {
  position: fixed;
  width: 100%;
  box-sizing: border-box;
}

#chat-screen .alt-header {
  top: 10px;
}
