.nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  box-sizing: border-box;
  background-color: #f9f9fa;
  padding: 20px 50px;
  border-top: 1px solid rgba(121, 121, 121, 0.3);
}

.nav__list {
  display: flex;
  justify-content: space-between;
}

.nav__link {
  position: relative;
  color: #2e363e;
}

.nav__link:hover {
  color: #2e363e;
}

.nav__noti {
  position: absolute;
  left: 15px;
  bottom: 15px;
}

.nav__deco {
  background-color: tomato;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  display: block;
  position: absolute;
  left: 30px;
}
